RAILS_MASTER_KEY=__MASTER_KEY__
RAILS_ENV=development
WEB_PORT=__WEB_PORT__

# * для запуска production локально
#RAILS_ENV=production
#FORCE_SSL=false
#ASSUME_SSL=false
#PERFORM_DELIVERIES=false
# *

# * DB
DB_HOST=db
DB_USER=__DB_USER__
DB_PASSWORD=__DB_PASSWORD__
POSTGRES_PORT=__POSTGRES_PORT__
# *

ADMINER_PORT=__ADMINER_PORT__
SELENIUM_REMOTE_URL=http://selenium_chrome:4444/wd/hub

COMPOSE_FILE=docker-compose.yml:docker-compose.${RAILS_ENV}.yml
